{{define "admin/add.html"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="/admin/user/doAdd"
      method="post"
      enctype="multipart/form-data"
    >
      用户名：<input type="text" name="username" /><br /><br />
      头 像 1：<input type="file" name="avatar[]" /><br /><br />
      头 像 2：<input type="file" name="avatar[]" /><br /><br />
      <input type="submit" value="提交" />
    </form>
  </body>
</html>
{{end}}
